<a href="https://colab.research.google.com/github/vinuka03/machine-learning-CourseWork/blob/preprocessing/data%20preprocessing/preprocessingPart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd

# Load the dataset (update the path as needed)
data = pd.read_csv('bank-additional-full.csv', sep=';')

In [64]:
# Preview the dataset
print(data.head())

# Check for data types and missing values
print(data.info())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

In [65]:
# Count the occurrences of "unknown" in each column
unknown_counts = data.apply(lambda col: col[col == "unknown"].count())

# Display the counts of "unknown" values
print(unknown_counts)

age                  0
job                330
marital             80
education         1731
default           8597
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [66]:
# Check for null values in each column
null_counts = data.isnull().sum()

# Display the counts of null values
print(null_counts)

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [67]:
# Filter out rows with "unknown" in the loan and housing columns
data = data[(data['loan'] != 'unknown') & (data['housing'] != 'unknown')]

# Verify the number of remaining rows
print(f"Remaining rows after filtering: {len(data)}")

Remaining rows after filtering: 40198

In [68]:
# Drop the 'duration' column
data = data.drop(columns=['duration'])

# Check the remaining columns
print(f"Remaining columns: {data.columns}")

Remaining columns: Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [69]:
# Impute "unknown" values in other job columns with the mode
categorical_columns = ['job' ]
for col in categorical_columns:
    mode = data[col].mode()[0]  # Get the most frequent value
    data[col] = data[col].replace('unknown', mode)

# Verify no "unknown" values remain
unknown_counts = data.apply(lambda col: col[col == "unknown"].count())
print(unknown_counts)

age                  0
job                  0
marital             79
education         1691
default           8370
housing              0
loan                 0
contact              0
month                0
day_of_week          0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [70]:
# Check unique values in 'pdays' before transformation
print(data['pdays'].unique())

[999   6   4   3   5   1   0  10   7   9  11   2   8  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]

In [71]:
# Convert 'pdays' to a binary column: 1 if previously contacted, 0 if not
data['pdays'] = (data['pdays'] != 999).astype(int)

# Verify the transformation
print(data['pdays'].value_counts())

pdays
0    38717
1     1481
Name: count, dtype: int64